parameters:
	ignoreErrors:
		-
			message: '#^Variable \$dbFile might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: db.php

		-
			message: '#^Variable \$version might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: includes/footer.php

		-
			message: '#^Variable \$cfg might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: includes/header.php
