includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 5
    paths:
        - public/addtodo.php
        - public/admin.php
        - config.php
        - db.php
        - public/deletetodo.php
        - public/edittodo.php
        - functions.php
        - src
        - includes
        - public/index.php
        - public/login.php
        - public/logout.php
        - old
        - public/todo.php
    excludePaths:
        - vendor
