parameters:
	ignoreErrors:
		-
			message: '#^Variable \$site_name might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: admin.php

		-
			message: '#^Variable \$dbFile might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: db.php

		-
			message: '#^Variable \$version might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: includes/footer.php

		-
			message: '#^Variable \$cfg might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: includes/header.php

		-
			message: '#^Variable \$site_name might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: includes/header.php

		-
			message: '#^Variable \$site_name might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: index.php

		-
			message: '#^Variable \$site_name might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: login.php
